main-color = #111
body
  padding-top: 2rem
  font-family Lato, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, arial, sans-serif
nav.navbar
  position fixed
  top 0
  right 0
  left 0
  display flex
  padding .5rem 1rem;
  border-top 3px solid main-color
  background-color:#fff;
  a.navbar-brand
    display inline-block
    padding-top .3125rem
    padding-bottom .3125rem
    margin-right 1rem
    font-size 1.25rem
    line-height inherit
    white-space nowrap
    color main-color

img
  animation fadeIn 1s;

@keyframes fadeIn
  from {
    opacity 0
  }
  to {
    opacity 1
  }


