body
  background-color bckg-color
  padding 20px
  margin 0
  font-family Lato, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, arial, sans-serif
.o-grid--demo
    .o-grid
      border 2px solid #ff69b4
    .o-grid__cell
      border 2px solid #00bfff
      background-color #b2f5b5
