.masonry
  column-gap 1.5em
  text-align center
  @media only screen and (min-width: screen-limit-large)
    column-count 2
  @media only screen and (min-width: screen-limit-xlarge)
    column-count 3
  .masonry__item
    display inline-block
    box-sizing border-box
    box-shadow 4px 4px 4px 0 #ccc
    margin 0 0 1.5em 0
