.tags
  list-style none
  margin 0
  padding 0
  text-transform lowercase
  font-size: 1.0em;
  li
    margin 5px 0
    color second-color
    a
      color second-color
      text-decoration none
    a:hover
      color main-color
    a.router-link-exact-active
      color third-color
