bckg-color = #ededed
main-color = #333
second-color = #888
third-color = #ff9800


screen-limit-xsmall = 20em
screen-limit-small = 30em
screen-limit-medium = 48em
screen-limit-large = 64em
screen-limit-xlarge = 78em
screen-limit-super = 116em
